<?php ?>
<aside class="left-aside">
		<div class="left-top-menu">
			<ul class="left-top-menu__items">
				<li class="left-menu_current"><a href="#">Поисковая оптимизация</a></li>
				<li><a href="#">Продвижение сайтов</a></li>
				<li><a href="#">Поисковый аудит</a></li>
				<li><a href="#">Обучение</a></li>
			</ul>
		</div>
		<div class="left-menu-also">
			<h3>Смотрите также:</h3>
			<ul class="left-menu-also__items">
				<li><a href="#">Поисковая оптимизация</a></li>
				<li><a href="#">Контекстная реклама</a></li>
				<li><a href="#">Управление репутацией</a></li>
				<li><a href="#">Direct marketing</a></li>
				<li><a href="#">Копирайтинг</a></li>
				<li><a href="#">Видео производство</a></li>
				<li><a href="#">PR консалтинг</a></li>
				<li><a href="#">SMM</a></li>
			</ul>
		</div>
		<div class="show-mobile-order">
			<button>Заказать услугу</button>
		</div>
		<div class="left-aside-order">
			<h2>заявка на услуги</h2>
			<div class="left-aside-form">
				<form action="">				
					<label for="left-aside__input-offer">Услуга</label>
					<input id="left-aside__input-offer" type="text" name='offer'>
					<label for="left-aside__input-fio">Имя</label>
					<input id="left-aside__input-fio" type="text" name="fio">
					<label for="left-aside__input-phone">Телефон</label>
					<input id="left-aside__input-phone" type="text" name="phone">
					<label for="left-aside__input-email">E-mail</label>
					<input id="left-aside__input-email" type="text" name="email">
					<label for="left-aside__input-site">Ваш сайт</label>
					<input id="left-aside__input-site" type="text" name="site">
					<input type="submit" value="Заказать консультацию">
				</form>
			</div>
		</div>
	</aside>